@*Not Found view- when there is an actor/movie/director/store that doesnt exist*@
<div class="row">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">Nothing to see here folks!</h1>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Back to Home Page</a>
    </div>
</div>